html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

html, body {
  height: 100%;
}

.g-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.g-header {
  position: absolute;
  width: 100%;
}

.g-header .media {
  display: inline;
  width: 100%;
  float: left;
}

.g-header .youtube {
  position: absolute;
  width: 320px;
  height: auto;
  right: 0;
  z-index: 2;
}

.g-header .youtube iframe.playing {
  pointer-events: none;
}

.g-header .youtube #player {
  width: 100%;
  height: auto;
}

.g-header audio, .g-header video {
  width: 100%;
}

.g-header img {
  width: 32px;
  height: 32px;
  float: left;
  cursor: pointer;
}

.g-content {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.notation img {
  width: 100%;
}

.notation-wrapper {
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.section, .note, .cursor-note {
  position: absolute;
}

.page.active .section {
  opacity: .2;
}

.page.active .section.active {
  background-color: #af7b7e;
  opacity: .2;
  z-index: 2;
}

.note {
  background-color: #af0a0d;
  opacity: .1;
}

.cursor-note {
  width: 2px;
  height: 100%;
  background-color: #EE0000;
  z-index: 2;
}

.tool-bar {
  position: fixed;
  right: 0;
  bottom: 15px;
  z-index: 1;
}

.tool-bar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tool-bar .icon-toggle {
  margin-top: 5px;
}

.tool-bar li {
  padding: 5px 0;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: inherit;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.icon-back {
  background-image: url(../img/back_32_b.png);
}

.icon-refresh {
  background-image: url(../img/refresh_32.png);
}

.icon-play {
  background-image: url(../img/play-arrow_32_b.png);
}

.icon-play.active {
  background-image: url(../img/pause_32_b.png);
}

.icon-visible {
  background-image: url(../img/youtube-logo_32_b.png);
}

.icon-visible.active {
  background-image: url(../img/youtube-logo_32_r.png);
}

.icon-toggle {
  background-image: url(../img/logo_32_b.png);
}

.icon-toggle.active {
  background-image: url(../img/logo_32_r.png);
}

@media screen and (max-width: 320px) {
  .icon {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .icon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .tool-bar {
    right: 20px;
    bottom: 20px;
  }
}
