html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

html, body {
  height: 100%;
}

.g-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.g-header {
  position: absolute;
  width: 100%;
}

.g-header audio {
  width: 100%;
}

.g-content {
  position: absolute;
  width: 100%;
  top: 32px;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.notation {
  position: relative;
  width: 100%;
}

.notation img {
  width: 100%;
}

.pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pages .page {
  position: absolute;
  width: 100%;
  background-size: 100%;
}

.section, .note, .cursor-note {
  position: absolute;
}

.section {
  background-color: #2b81af;
  opacity: .2;
}

.section.active {
  background-color: #af7b7e;
}

.note {
  background-color: #af0a0d;
  opacity: .1;
}

.cursor-note {
  width: 2px;
  height: 100%;
  background-color: #EE5757;
  z-index: 2;
}
