html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

html, body {
  height: 100%;
}

.g-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.g-header {
  position: absolute;
  width: 100%;
}

.g-header .media {
  display: inline;
  width: 100%;
  float: left;
}

.g-header .youtube {
  position: absolute;
  height: auto;
  right: 0;
  z-index: 2;
}

.g-header .youtube #player {
  width: 100%;
  height: auto;
}

@media screen and (orientation: portrait) {
  /*竖屏 css*/
  .g-header .youtube {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  /*横屏 css*/
  .g-header .youtube {
    width: 20%;
  }

  .handle {
    background: #ccc;
    border: 1px solid #000;
    border-radius: 4px;
    height: 23px;
    margin-bottom: -3px;
    cursor: move;
  }
}

.g-header audio, .g-header video {
  width: 100%;
}

.g-header img {
  width: 32px;
  height: 32px;
  float: left;
  cursor: pointer;
}

.g-content {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.notation img {
  width: 100%;
}

.notation-wrapper {
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.section, .note, .cursor-note {
  position: absolute;
}

.page.active .section {
  opacity: .2;
}

.page.active .section.active {
  background-color: #af7b7e;
  opacity: .2;
  z-index: 2;
}

.note {
  background-color: #af0a0d;
  opacity: .1;
}

.cursor-note {
  width: 2px;
  height: 100%;
  background-color: #EE0000;
  z-index: 2;
}
